<article class="blog">
  <div class="title">
    <a href="{{blog_body}}" target="_blank">{{blog_title}}</a>
    <span>({{format_url blog_body}})</span>
  </div>
  <div class="meta">
    <a href="/blogpost/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>